/* stylelint-disable plugin/no-unsupported-browser-features */
body {
  background-color: var(--syn-page-background-color-muted);
  color: var(--syn-typography-color-text);
  font: var(--syn-body-medium-regular);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.sbdocs {
  font-family: var(--syn-font-sans);

  /* Sidenav styling */
  :is(aside) {
    --size: 0;

    width: var(--size) !important;

    nav {
      width: var(--size) !important;
    }

    &:has(.toc-list) {
      --size: 300px;
    }

    .toc-list-item {
      margin: 0 0 0 20px !important;

      .is-active-link {
        color: var(--syn-link-color) !important;
        font-weight: normal !important;
      }
    }
  }

  > :not(.sb-anchor) {
    :is(h1) {
      font: var(--syn-heading-3x-large);
      margin: 0 0 var(--syn-spacing-large) 0;
    }

    :is(h2) {
      border: none;
      font: var(--syn-heading-2x-large);
      margin: 0 0 var(--syn-spacing-medium-large) 0;
    }

    :is(h3) {
      font: var(--syn-heading-x-large);
      margin: 0 0 var(--syn-spacing-medium) 0;
    }

    :is(h4) {
      font: var(--syn-heading-large);
      margin: 0 0 var(--syn-spacing-small) 0;
    }

    :is(h6) {
      font: var(--syn-heading-medium);
      margin: 0 0 var(--syn-spacing-x-small) 0;
    }

    :is(hr) {
      font: var(--syn-heading-medium);
      margin: var(--syn-spacing-medium) 0;
    }

    :is(p, ul, li) {
      font: var(--syn-body-medium-regular) !important;
      font-family: unset;
      margin: 0 0 var(--syn-spacing-small) 0;
    }
  }
}

.docs-story {
  background: var(--syn-panel-background-color);
}

.sb-story {
  padding: 1rem;
}

/* Global Links */
.sbdocs a:not(.syn-link) {
  color: var(--syn-color-primary-600);
}

.sbdocs a:not(.syn-link):focus,
.sbdocs button:not(.syn-link):focus {
  outline: none;
}

.sbdocs a:not(.syn-link):hover {
  color: var(--syn-color-primary-800);
}

a:not(.syn-link):focus-visible,
button:focus-visible {
  outline: var(--syn-focus-ring);
  outline-offset: var(--syn-focus-ring-offset);
}

/* Changelogs */
.synergy-changelog {
  p {
    margin: 0 0 var(--syn-spacing-small) 0;
  }

  hr {
    margin: var(--syn-spacing-large) 0;
  }
}

