/* Element Selection */
::selection {
  background-color: var(--syn-color-primary-200);
  color: var(--syn-color-neutral-900);
}

/* Default Body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  line-height: var(--syn-line-height-normal);
}

body {
  background-color: var(--syn-color-neutral-0);
  color: var(--syn-color-neutral-900);
  font: 16px var(--syn-font-sans);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--syn-font-weight-normal);
  line-height: var(--syn-line-height-normal);
  overflow-x: hidden;
}

/* Special treatment for code preview in docs panel */
.docs-story {
  background: var(--syn-color-neutral-0);
}

/*
 * Make sure we have a small amount of inner padding
 * This will make it possible to see outlines
 * more clearly without them being cut on the sides
 */
.sb-story {
  padding: 1rem;
}

/* Common elements */
.sbdocs h1,
.sbdocs h2,
.sbdocs h3,
.sbdocs h4,
.sbdocs h5,
.sbdocs h6 {
  font-family: var(--syn-font-sans);
  font-weight: var(--syn-font-weight-semibold);
  margin: 3rem 0 1.5rem;
}

.sbdocs h1 {
  font-size: 2.5rem;
}

.sbdocs h1:first-of-type {
  margin-top: 1rem;
}

.sbdocs h2 {
  border-bottom: solid var(--docs-border-width) var(--docs-border-color);
  font-size: 1.875rem;
}

.sbdocs h3 {
  font-size: 1.625rem;
}

.sbdocs h4 {
  font-size: 1.375rem;
}

.sbdocs h5 {
  font-size: 1.125rem;
}

.sbdocs h6 {
  font-size: 0.875rem;
}

.sbdocs p {
  margin-block-end: 1.5em;
}

.sbdocs a {
  color: var(--syn-color-primary-600);
}

.sbdocs a:focus,
.sbdocs button:focus {
  outline: none;
}

.sbdocs a:hover {
  color: var(--syn-color-primary-800);
}


a:focus-visible,
button:focus-visible {
  outline: var(--syn-focus-ring);
  outline-offset: var(--syn-focus-ring-offset);
}

img {
  max-width: 100%;
}

.docs-syn-style ul {
  margin: 0;
}
