/*
 * Material icon font face definition, using an inlined version of the font
 */
@font-face {
  font-display: block;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url('b64---../node_modules/material-icons/iconfont/material-icons-outlined.woff2---') format("woff2");
}
