html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: var(--syn-page-background-color-muted);
	font-family: var(--syn-font-sans);
}

.content {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 64px);
	position: relative;
}

.header-logo {
  display: block;
  height: 32px;
  syn-icon {
    display: block;
    height: 100%;
    width: 100%;
  }
}

main {
	display: flex;
	flex: 1;
	padding: var(--syn-spacing-medium);

  syn-card {
    width: 100%;

    h1 {
      margin: 0;
      padding: 0;
    }

    h2 {
      margin: 0 0 var(--syn-spacing-large);
    }

    h3,
    p,
    ul,
    table {
      margin: 0 0 var(--syn-spacing-medium);
    }

    li {
      margin: 0 0 var(--syn-spacing-x-small);
    }
  }
}

/* Components */
.component-view {
  table {
    width: 100%;
  }

  .component-header {
    justify-content: space-between;
    display: flex;

    nav {
      align-items: center;
      display: flex;
      gap: var(--syn-spacing-small);
    }
  }
}
