html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: var(--syn-page-background-color-muted);
	font-family: var(--syn-font-sans);
}

.content {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 64px);
	position: relative;
}

main {
	display: flex;
	flex: 1;
	padding: var(--syn-spacing-medium);

  syn-card {
    width: 100%;

    h1 {
      margin: 0;
      padding: 0;
    }
  }
}
