html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--syn-color-neutral-50);
  color: var(--syn-color-neutral-900);
  font-family: var(--syn-font-sans);
  font-size: var(--syn-font-size-medium);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

syn-header {
  position: sticky;
  top: 0;
  z-index: 50;
}


/* Form Wrappers */
.syn-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--syn-spacing-large);
  margin: 0 0 var(--syn-spacing-2x-large) 0;
  padding: 0;
}

form syn-divider {
  --spacing: var(--syn-spacing-2x-large);
}

form .syn-fieldset:last-of-type {
  margin-bottom: 0;
}

.syn-legend {
  font-size: var(--syn-font-size-large);
  font-weight: var(--syn-font-weight-bold);
  line-height: var(--syn-line-height-normal);
  margin-bottom: var(--syn-spacing-medium);
}

.syn-submit-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Special overrides */
#radiogroup-gender::part(form-control-input) {
  display: flex;
  gap: var(--syn-spacing-medium);
}

.main {
  flex-grow: 1;
  display: flex;
  position: relative;
  background: var(--syn-color-neutral-0);
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: var(--syn-spacing-medium) var(--syn-spacing-large);
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
