html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--syn-color-neutral-50);
  color: var(--syn-color-neutral-900);
  font-family: var(--syn-font-sans);
  font-size: var(--syn-font-size-medium);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

syn-header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.main {
  background: var(--syn-color-neutral-0);
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.content {
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: var(--syn-spacing-medium) var(--syn-spacing-large);
}

/* Custom Routing */
.router-page {
  display: none;
  visibility: hidden;
}

/* Show active page */
.router-page[data-active="true"] {
  display: contents;
  visibility: visible;
}

/* Form Wrappers */
.syn-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--syn-spacing-large);
  margin: 0 0 var(--syn-spacing-2x-large) 0;
  padding: 0;
}

form syn-divider {
  --spacing: var(--syn-spacing-2x-large);
}

form .syn-fieldset:last-of-type {
  margin-bottom: 0;
}

.syn-legend {
  font: var(--syn-heading-large);
  margin-bottom: var(--syn-spacing-medium);
}

.syn-submit-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Special overrides */
#radiogroup-gender::part(form-control-input) {
  display: flex;
  gap: var(--syn-spacing-medium);
}

#input-nationality::part(listbox) {
  max-height: min(var(--auto-size-available-height), 300px);
}

#happiness-fields syn-range nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
