/**
 * Default animations for usage in applications.
 */

/**
 * Default fade in animations
 */
@keyframes sds-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/**
 * Default rotate animation for a 360° rotation
 */
@keyframes sds-rotate-360 { 
  100% { 
    transform:rotate(360deg); 
  }
}

/**
 * Default css scale animation
 */
@keyframes sds-scale {
  to {
    transform: scale3d(
      var(--animation-scale, 1.2),
      var(--animation-scale, 1.2),
      var(--animation-scale, 1.2)
    );
  }
}
