/**
 * Default Baseline css for usage in applications.
 * This file provides defaults for new applications.
 */
body {
  background: var(--syn-color-neutral-0);
  color: var(--syn-color-neutral-800);
  font-family: var(--syn-font-family-default);
  font-size: var(--syn-dimension-font-base);
}

/* Defaults for links */
a:link,
a:visited {
  color: var(--syn-color-primary-500);
  font-weight: var(--syn-font-weight-regular);
  text-decoration: none;
}

a:hover {
  color: var(--syn-color-primary-400);
  text-decoration: var(--syn-font-text-underline);
}

a:focus-visible {
  color: var(--syn-color-primary-500);
  outline: 1px solid var(--syn-color-primary-500);
  outline-offset: 2px;;
  text-decoration: none;
}

a:active {
  color: var(--syn-color-primary-600);
  outline: none;
}

/* Divider as defined in SDS, mapped to a hr tag */
hr {
  border: 1px solid var(--syn-color-neutral-200);
  border-width: 1px 0 0;
  margin: var(--syn-spacing-4) 0;
}
