/**
 * CSS for basic typographic elements
 * @todo: Use css variables for all missing entries
 */

/* BEGIN: HEADLINES */

/* Shared styles for all headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
  background: var(--syn-color-neutral-0);
  color: var(--syn-color-neutral-650);
  font-family: var(--syn-font-family-default);
  margin: var(--syn-spacing-8) 0 var(--syn-spacing-4);
}

/* Main content header. Use only once on a page. */
h1 {
  font-size: var(--syn-font-size-headline-xl);
  font-weight: var(--syn-font-weight-regular);
  line-height: var(--syn-font-line-height-default);
  margin: var(--syn-spacing-12) 0 var(--syn-spacing-6);
}

/* Secondary content header. Use to structure content. */
h2 {
  font-size: var(--syn-font-size-headline-l);
  font-weight: var(--syn-font-weight-regular);
  line-height: var(--syn-font-line-height-default);
  margin: var(--syn-spacing-8) 0 var(--syn-spacing-6);
}

/* Tertiary content header. Use to structure content. */
h3 {
  font-size: var(--syn-font-size-headline-m);
  font-weight: var(--syn-font-weight-regular);
  line-height: var(--syn-font-line-height-130);
}

/* Quaternary content header. Use to structure content. */
h4 {
  font-size: var(--syn-font-size-headline-s);
  font-weight: var(--syn-font-weight-semibold);
  line-height: var(--syn-font-line-height-130);
}

/* Section header. */
h5 {
  font-size: var(--syn-font-size-headline-xs);
  font-weight: var(--syn-font-weight-bold);
  line-height: var(--syn-font-line-height-140);
}

/* Section header. */
h6 {
  font-size: var(--syn-font-size-headline-xxs);
  font-weight: var(--syn-font-weight-bold);
  line-height: var(--syn-font-line-height-140);
}

/* END: HEADLINES */

/* BEGIN: BODY */

/* Shared styles for body elements */
p,
small {
  color: var(--syn-color-neutral-800);
  font-family: var(--syn-font-family-default);
  font-weight: 400;
  line-height: 1.4;
}

/* Default content text. */
p {
  font-size: var(--syn-font-size-body-m);
  margin: 0 0 var(--syn-spacing-4);
}

/* Small text and labels. */
small {
  font-size: var(--syn-font-size-body-xs);
}

/* Bold text */
strong {
  font-weight: var(--syn-font-weight-bold);
}

/* Emphasized text */
em {
  font-style: italic;
  font-weight: var(--syn-font-weight-regular);
}

/* Lists */
ol,
ul {
  margin: var(--syn-spacing-4);
  margin-right: 0;
  padding: 0;
}

li {
  margin-bottom: var(--syn-spacing-2);
  padding-left: var(--syn-spacing-2);
}

ul {
  list-style: square;
}

/* END: BODY */
