.syn-legend {
  font-size: var(--syn-font-size-large);
  font-weight: var(--syn-font-weight-bold);
  line-height: var(--syn-line-height-normal);
  margin-bottom: var(--syn-spacing-medium);
}

.syn-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--syn-spacing-large);
  margin: 0 0 var(--syn-spacing-2x-large) 0;
  padding: 0;
}
