/**
 * Typographic text classes
 * @variant {x-small | small | medium | large} syn-body The font size of the body text
 */
.syn-body--x-small {
  font: var(--syn-body-x-small-regular);
}

.syn-body--small {
  font: var(--syn-body-small-regular);
}

.syn-body--medium {
  font: var(--syn-body-medium-regular);
}

.syn-body--large {
  font: var(--syn-body-large-regular);
}
