/* Regular */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.sick.com/media/fonts/opensans-v1/Regular/OpenSans-Regular.woff2") format("woff2"),
        url("https://cdn.sick.com/media/fonts/opensans-v1/Regular/OpenSans-Regular.woff") format("woff"),
        url("https://cdn.sick.com/media/fonts/opensans-v1/Regular/OpenSans-Regular.ttf") format("truetype");
}
 
/* Semi Bold */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.sick.com/media/fonts/opensans-v1/SemiBold/OpenSans-SemiBold.woff2") format("woff2"),
        url("https://cdn.sick.com/media/fonts/opensans-v1/SemiBold/OpenSans-SemiBold.woff") format("woff"),
        url("https://cdn.sick.com/media/fonts/opensans-v1/SemiBold/OpenSans-SemiBold.ttf") format("truetype");
}
 
/* Bold */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.sick.com/media/fonts/opensans-v1/Bold/OpenSans-Bold.woff2") format("woff2"),
        url("https://cdn.sick.com/media/fonts/opensans-v1/Bold/OpenSans-Bold.woff") format("woff"),
        url("https://cdn.sick.com/media/fonts/opensans-v1/Bold/OpenSans-Bold.ttf") format("truetype");
}
