html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  align-items: center;
  background: var(--syn-color-neutral-100);
  color: var(--syn-color-neutral-950);
  display: flex;
  justify-content: center;
}