/**
 * @synergy-design-system/tokens version 3.12.1
 * SICK Global UX Foundation
 */
$SynCategorical10: var(--syn-categorical-10) !default;
$SynCategorical11: var(--syn-categorical-11) !default;
$SynCategorical12: var(--syn-categorical-12) !default;
$SynCategorical01: var(--syn-categorical-01) !default;
$SynCategorical02: var(--syn-categorical-02) !default;
$SynCategorical03: var(--syn-categorical-03) !default;
$SynCategorical04: var(--syn-categorical-04) !default;
$SynCategorical05: var(--syn-categorical-05) !default;
$SynCategorical06: var(--syn-categorical-06) !default;
$SynCategorical07: var(--syn-categorical-07) !default;
$SynCategorical08: var(--syn-categorical-08) !default;
$SynCategorical09: var(--syn-categorical-09) !default;
$SynCategorical10Hover: var(--syn-categorical-10-hover) !default;
$SynSequential0110: var(--syn-sequential-01-10) !default;
$SynSequential0120: var(--syn-sequential-01-20) !default;
$SynSequential0130: var(--syn-sequential-01-30) !default;
$SynSequential0140: var(--syn-sequential-01-40) !default;
$SynSequential0150: var(--syn-sequential-01-50) !default;
$SynSequential0160: var(--syn-sequential-01-60) !default;
$SynSequential0170: var(--syn-sequential-01-70) !default;
$SynSequential0180: var(--syn-sequential-01-80) !default;
$SynSequential0190: var(--syn-sequential-01-90) !default;
$SynSequential01100: var(--syn-sequential-01-100) !default;
$SynSequential0210: var(--syn-sequential-02-10) !default;
$SynSequential0220: var(--syn-sequential-02-20) !default;
$SynSequential0230: var(--syn-sequential-02-30) !default;
$SynSequential0240: var(--syn-sequential-02-40) !default;
$SynSequential0250: var(--syn-sequential-02-50) !default;
$SynSequential0260: var(--syn-sequential-02-60) !default;
$SynSequential0270: var(--syn-sequential-02-70) !default;
$SynSequential0280: var(--syn-sequential-02-80) !default;
$SynSequential0290: var(--syn-sequential-02-90) !default;
$SynSequential02100: var(--syn-sequential-02-100) !default;
$SynSequential0310: var(--syn-sequential-03-10) !default;
$SynSequential0320: var(--syn-sequential-03-20) !default;
$SynSequential0330: var(--syn-sequential-03-30) !default;
$SynSequential0340: var(--syn-sequential-03-40) !default;
$SynSequential0350: var(--syn-sequential-03-50) !default;
$SynSequential0360: var(--syn-sequential-03-60) !default;
$SynSequential0370: var(--syn-sequential-03-70) !default;
$SynSequential0380: var(--syn-sequential-03-80) !default;
$SynSequential0390: var(--syn-sequential-03-90) !default;
$SynSequential03100: var(--syn-sequential-03-100) !default;
$SynSequential0410: var(--syn-sequential-04-10) !default;
$SynSequential0420: var(--syn-sequential-04-20) !default;
$SynSequential0430: var(--syn-sequential-04-30) !default;
$SynSequential0440: var(--syn-sequential-04-40) !default;
$SynSequential0450: var(--syn-sequential-04-50) !default;
$SynSequential0460: var(--syn-sequential-04-60) !default;
$SynSequential0470: var(--syn-sequential-04-70) !default;
$SynSequential0480: var(--syn-sequential-04-80) !default;
$SynSequential0490: var(--syn-sequential-04-90) !default;
$SynSequential04100: var(--syn-sequential-04-100) !default;
$SynSequential0510: var(--syn-sequential-05-10) !default;
$SynSequential0520: var(--syn-sequential-05-20) !default;
$SynSequential0530: var(--syn-sequential-05-30) !default;
$SynSequential0540: var(--syn-sequential-05-40) !default;
$SynSequential0550: var(--syn-sequential-05-50) !default;
$SynSequential0560: var(--syn-sequential-05-60) !default;
$SynSequential0570: var(--syn-sequential-05-70) !default;
$SynSequential0580: var(--syn-sequential-05-80) !default;
$SynSequential0590: var(--syn-sequential-05-90) !default;
$SynSequential05100: var(--syn-sequential-05-100) !default;
$SynSequential0610: var(--syn-sequential-06-10) !default;
$SynSequential0620: var(--syn-sequential-06-20) !default;
$SynSequential0630: var(--syn-sequential-06-30) !default;
$SynSequential0640: var(--syn-sequential-06-40) !default;
$SynSequential0650: var(--syn-sequential-06-50) !default;
$SynSequential0660: var(--syn-sequential-06-60) !default;
$SynSequential0670: var(--syn-sequential-06-70) !default;
$SynSequential0680: var(--syn-sequential-06-80) !default;
$SynSequential0690: var(--syn-sequential-06-90) !default;
$SynSequential06100: var(--syn-sequential-06-100) !default;
$SynSequential0710: var(--syn-sequential-07-10) !default;
$SynSequential0720: var(--syn-sequential-07-20) !default;
$SynSequential0730: var(--syn-sequential-07-30) !default;
$SynSequential0740: var(--syn-sequential-07-40) !default;
$SynSequential0750: var(--syn-sequential-07-50) !default;
$SynSequential0760: var(--syn-sequential-07-60) !default;
$SynSequential0770: var(--syn-sequential-07-70) !default;
$SynSequential0780: var(--syn-sequential-07-80) !default;
$SynSequential0790: var(--syn-sequential-07-90) !default;
$SynSequential07100: var(--syn-sequential-07-100) !default;
$SynSequentialStatusCritical10: var(--syn-sequential-status-critical-10) !default;
$SynSequentialStatusCritical20: var(--syn-sequential-status-critical-20) !default;
$SynSequentialStatusCritical30: var(--syn-sequential-status-critical-30) !default;
$SynSequentialStatusCritical40: var(--syn-sequential-status-critical-40) !default;
$SynSequentialStatusCritical50: var(--syn-sequential-status-critical-50) !default;
$SynSequentialStatusCritical60: var(--syn-sequential-status-critical-60) !default;
$SynSequentialStatusCritical70: var(--syn-sequential-status-critical-70) !default;
$SynSequentialStatusCritical80: var(--syn-sequential-status-critical-80) !default;
$SynSequentialStatusCritical90: var(--syn-sequential-status-critical-90) !default;
$SynSequentialStatusCritical100: var(--syn-sequential-status-critical-100) !default;
$SynSequentialStatusError10: var(--syn-sequential-status-error-10) !default;
$SynSequentialStatusError20: var(--syn-sequential-status-error-20) !default;
$SynSequentialStatusError30: var(--syn-sequential-status-error-30) !default;
$SynSequentialStatusError40: var(--syn-sequential-status-error-40) !default;
$SynSequentialStatusError50: var(--syn-sequential-status-error-50) !default;
$SynSequentialStatusError60: var(--syn-sequential-status-error-60) !default;
$SynSequentialStatusError70: var(--syn-sequential-status-error-70) !default;
$SynSequentialStatusError80: var(--syn-sequential-status-error-80) !default;
$SynSequentialStatusError90: var(--syn-sequential-status-error-90) !default;
$SynSequentialStatusError100: var(--syn-sequential-status-error-100) !default;
$SynSequentialStatusInfo10: var(--syn-sequential-status-info-10) !default;
$SynSequentialStatusInfo20: var(--syn-sequential-status-info-20) !default;
$SynSequentialStatusInfo30: var(--syn-sequential-status-info-30) !default;
$SynSequentialStatusInfo40: var(--syn-sequential-status-info-40) !default;
$SynSequentialStatusInfo50: var(--syn-sequential-status-info-50) !default;
$SynSequentialStatusInfo60: var(--syn-sequential-status-info-60) !default;
$SynSequentialStatusInfo70: var(--syn-sequential-status-info-70) !default;
$SynSequentialStatusInfo80: var(--syn-sequential-status-info-80) !default;
$SynSequentialStatusInfo90: var(--syn-sequential-status-info-90) !default;
$SynSequentialStatusInfo100: var(--syn-sequential-status-info-100) !default;
$SynSequentialStatusSuccess10: var(--syn-sequential-status-success-10) !default;
$SynSequentialStatusSuccess20: var(--syn-sequential-status-success-20) !default;
$SynSequentialStatusSuccess30: var(--syn-sequential-status-success-30) !default;
$SynSequentialStatusSuccess40: var(--syn-sequential-status-success-40) !default;
$SynSequentialStatusSuccess50: var(--syn-sequential-status-success-50) !default;
$SynSequentialStatusSuccess60: var(--syn-sequential-status-success-60) !default;
$SynSequentialStatusSuccess70: var(--syn-sequential-status-success-70) !default;
$SynSequentialStatusSuccess80: var(--syn-sequential-status-success-80) !default;
$SynSequentialStatusSuccess90: var(--syn-sequential-status-success-90) !default;
$SynSequentialStatusSuccess100: var(--syn-sequential-status-success-100) !default;
$SynSequentialStatusWarning10: var(--syn-sequential-status-warning-10) !default;
$SynSequentialStatusWarning20: var(--syn-sequential-status-warning-20) !default;
$SynSequentialStatusWarning30: var(--syn-sequential-status-warning-30) !default;
$SynSequentialStatusWarning40: var(--syn-sequential-status-warning-40) !default;
$SynSequentialStatusWarning50: var(--syn-sequential-status-warning-50) !default;
$SynSequentialStatusWarning60: var(--syn-sequential-status-warning-60) !default;
$SynSequentialStatusWarning70: var(--syn-sequential-status-warning-70) !default;
$SynSequentialStatusWarning80: var(--syn-sequential-status-warning-80) !default;
$SynSequentialStatusWarning90: var(--syn-sequential-status-warning-90) !default;
$SynSequentialStatusWarning100: var(--syn-sequential-status-warning-100) !default;
