/**
 * @synergy-design-system/tokens version 3.19.0
 * SICK Global UX Foundation
 */
$SynChartCategorical10: var(--syn-chart-categorical-10) !default;
$SynChartCategorical11: var(--syn-chart-categorical-11) !default;
$SynChartCategorical12: var(--syn-chart-categorical-12) !default;
$SynChartCategorical01: var(--syn-chart-categorical-01) !default;
$SynChartCategorical02: var(--syn-chart-categorical-02) !default;
$SynChartCategorical03: var(--syn-chart-categorical-03) !default;
$SynChartCategorical04: var(--syn-chart-categorical-04) !default;
$SynChartCategorical05: var(--syn-chart-categorical-05) !default;
$SynChartCategorical06: var(--syn-chart-categorical-06) !default;
$SynChartCategorical07: var(--syn-chart-categorical-07) !default;
$SynChartCategorical08: var(--syn-chart-categorical-08) !default;
$SynChartCategorical09: var(--syn-chart-categorical-09) !default;
$SynChartDisabledColor: var(--syn-chart-disabled-color) !default;
$SynChartGridLinesColor: var(--syn-chart-grid-lines-color) !default;
$SynChartGridLinesColorEmphasize: var(--syn-chart-grid-lines-color-emphasize) !default;
$SynChartSequential01_10: var(--syn-chart-sequential-01-10) !default;
$SynChartSequential01_20: var(--syn-chart-sequential-01-20) !default;
$SynChartSequential01_30: var(--syn-chart-sequential-01-30) !default;
$SynChartSequential01_40: var(--syn-chart-sequential-01-40) !default;
$SynChartSequential01_50: var(--syn-chart-sequential-01-50) !default;
$SynChartSequential01_60: var(--syn-chart-sequential-01-60) !default;
$SynChartSequential01_70: var(--syn-chart-sequential-01-70) !default;
$SynChartSequential01_80: var(--syn-chart-sequential-01-80) !default;
$SynChartSequential01_90: var(--syn-chart-sequential-01-90) !default;
$SynChartSequential01_100: var(--syn-chart-sequential-01-100) !default;
$SynChartSequential02_10: var(--syn-chart-sequential-02-10) !default;
$SynChartSequential02_20: var(--syn-chart-sequential-02-20) !default;
$SynChartSequential02_30: var(--syn-chart-sequential-02-30) !default;
$SynChartSequential02_40: var(--syn-chart-sequential-02-40) !default;
$SynChartSequential02_50: var(--syn-chart-sequential-02-50) !default;
$SynChartSequential02_60: var(--syn-chart-sequential-02-60) !default;
$SynChartSequential02_70: var(--syn-chart-sequential-02-70) !default;
$SynChartSequential02_80: var(--syn-chart-sequential-02-80) !default;
$SynChartSequential02_90: var(--syn-chart-sequential-02-90) !default;
$SynChartSequential02_100: var(--syn-chart-sequential-02-100) !default;
$SynChartSequential03_10: var(--syn-chart-sequential-03-10) !default;
$SynChartSequential03_20: var(--syn-chart-sequential-03-20) !default;
$SynChartSequential03_30: var(--syn-chart-sequential-03-30) !default;
$SynChartSequential03_40: var(--syn-chart-sequential-03-40) !default;
$SynChartSequential03_50: var(--syn-chart-sequential-03-50) !default;
$SynChartSequential03_60: var(--syn-chart-sequential-03-60) !default;
$SynChartSequential03_70: var(--syn-chart-sequential-03-70) !default;
$SynChartSequential03_80: var(--syn-chart-sequential-03-80) !default;
$SynChartSequential03_90: var(--syn-chart-sequential-03-90) !default;
$SynChartSequential03_100: var(--syn-chart-sequential-03-100) !default;
$SynChartSequential04_10: var(--syn-chart-sequential-04-10) !default;
$SynChartSequential04_20: var(--syn-chart-sequential-04-20) !default;
$SynChartSequential04_30: var(--syn-chart-sequential-04-30) !default;
$SynChartSequential04_40: var(--syn-chart-sequential-04-40) !default;
$SynChartSequential04_50: var(--syn-chart-sequential-04-50) !default;
$SynChartSequential04_60: var(--syn-chart-sequential-04-60) !default;
$SynChartSequential04_70: var(--syn-chart-sequential-04-70) !default;
$SynChartSequential04_80: var(--syn-chart-sequential-04-80) !default;
$SynChartSequential04_90: var(--syn-chart-sequential-04-90) !default;
$SynChartSequential04_100: var(--syn-chart-sequential-04-100) !default;
$SynChartSequential05_10: var(--syn-chart-sequential-05-10) !default;
$SynChartSequential05_20: var(--syn-chart-sequential-05-20) !default;
$SynChartSequential05_30: var(--syn-chart-sequential-05-30) !default;
$SynChartSequential05_40: var(--syn-chart-sequential-05-40) !default;
$SynChartSequential05_50: var(--syn-chart-sequential-05-50) !default;
$SynChartSequential05_60: var(--syn-chart-sequential-05-60) !default;
$SynChartSequential05_70: var(--syn-chart-sequential-05-70) !default;
$SynChartSequential05_80: var(--syn-chart-sequential-05-80) !default;
$SynChartSequential05_90: var(--syn-chart-sequential-05-90) !default;
$SynChartSequential05_100: var(--syn-chart-sequential-05-100) !default;
$SynChartSequential06_10: var(--syn-chart-sequential-06-10) !default;
$SynChartSequential06_20: var(--syn-chart-sequential-06-20) !default;
$SynChartSequential06_30: var(--syn-chart-sequential-06-30) !default;
$SynChartSequential06_40: var(--syn-chart-sequential-06-40) !default;
$SynChartSequential06_50: var(--syn-chart-sequential-06-50) !default;
$SynChartSequential06_60: var(--syn-chart-sequential-06-60) !default;
$SynChartSequential06_70: var(--syn-chart-sequential-06-70) !default;
$SynChartSequential06_80: var(--syn-chart-sequential-06-80) !default;
$SynChartSequential06_90: var(--syn-chart-sequential-06-90) !default;
$SynChartSequential06_100: var(--syn-chart-sequential-06-100) !default;
$SynChartSequential07_10: var(--syn-chart-sequential-07-10) !default;
$SynChartSequential07_20: var(--syn-chart-sequential-07-20) !default;
$SynChartSequential07_30: var(--syn-chart-sequential-07-30) !default;
$SynChartSequential07_40: var(--syn-chart-sequential-07-40) !default;
$SynChartSequential07_50: var(--syn-chart-sequential-07-50) !default;
$SynChartSequential07_60: var(--syn-chart-sequential-07-60) !default;
$SynChartSequential07_70: var(--syn-chart-sequential-07-70) !default;
$SynChartSequential07_80: var(--syn-chart-sequential-07-80) !default;
$SynChartSequential07_90: var(--syn-chart-sequential-07-90) !default;
$SynChartSequential07_100: var(--syn-chart-sequential-07-100) !default;
$SynChartSequentialStatusCritical10: var(--syn-chart-sequential-status-critical-10) !default;
$SynChartSequentialStatusCritical20: var(--syn-chart-sequential-status-critical-20) !default;
$SynChartSequentialStatusCritical30: var(--syn-chart-sequential-status-critical-30) !default;
$SynChartSequentialStatusCritical40: var(--syn-chart-sequential-status-critical-40) !default;
$SynChartSequentialStatusCritical50: var(--syn-chart-sequential-status-critical-50) !default;
$SynChartSequentialStatusCritical60: var(--syn-chart-sequential-status-critical-60) !default;
$SynChartSequentialStatusCritical70: var(--syn-chart-sequential-status-critical-70) !default;
$SynChartSequentialStatusCritical80: var(--syn-chart-sequential-status-critical-80) !default;
$SynChartSequentialStatusCritical90: var(--syn-chart-sequential-status-critical-90) !default;
$SynChartSequentialStatusCritical100: var(--syn-chart-sequential-status-critical-100) !default;
$SynChartSequentialStatusError10: var(--syn-chart-sequential-status-error-10) !default;
$SynChartSequentialStatusError20: var(--syn-chart-sequential-status-error-20) !default;
$SynChartSequentialStatusError30: var(--syn-chart-sequential-status-error-30) !default;
$SynChartSequentialStatusError40: var(--syn-chart-sequential-status-error-40) !default;
$SynChartSequentialStatusError50: var(--syn-chart-sequential-status-error-50) !default;
$SynChartSequentialStatusError60: var(--syn-chart-sequential-status-error-60) !default;
$SynChartSequentialStatusError70: var(--syn-chart-sequential-status-error-70) !default;
$SynChartSequentialStatusError80: var(--syn-chart-sequential-status-error-80) !default;
$SynChartSequentialStatusError90: var(--syn-chart-sequential-status-error-90) !default;
$SynChartSequentialStatusError100: var(--syn-chart-sequential-status-error-100) !default;
$SynChartSequentialStatusInfo10: var(--syn-chart-sequential-status-info-10) !default;
$SynChartSequentialStatusInfo20: var(--syn-chart-sequential-status-info-20) !default;
$SynChartSequentialStatusInfo30: var(--syn-chart-sequential-status-info-30) !default;
$SynChartSequentialStatusInfo40: var(--syn-chart-sequential-status-info-40) !default;
$SynChartSequentialStatusInfo50: var(--syn-chart-sequential-status-info-50) !default;
$SynChartSequentialStatusInfo60: var(--syn-chart-sequential-status-info-60) !default;
$SynChartSequentialStatusInfo70: var(--syn-chart-sequential-status-info-70) !default;
$SynChartSequentialStatusInfo80: var(--syn-chart-sequential-status-info-80) !default;
$SynChartSequentialStatusInfo90: var(--syn-chart-sequential-status-info-90) !default;
$SynChartSequentialStatusInfo100: var(--syn-chart-sequential-status-info-100) !default;
$SynChartSequentialStatusSuccess10: var(--syn-chart-sequential-status-success-10) !default;
$SynChartSequentialStatusSuccess20: var(--syn-chart-sequential-status-success-20) !default;
$SynChartSequentialStatusSuccess30: var(--syn-chart-sequential-status-success-30) !default;
$SynChartSequentialStatusSuccess40: var(--syn-chart-sequential-status-success-40) !default;
$SynChartSequentialStatusSuccess50: var(--syn-chart-sequential-status-success-50) !default;
$SynChartSequentialStatusSuccess60: var(--syn-chart-sequential-status-success-60) !default;
$SynChartSequentialStatusSuccess70: var(--syn-chart-sequential-status-success-70) !default;
$SynChartSequentialStatusSuccess80: var(--syn-chart-sequential-status-success-80) !default;
$SynChartSequentialStatusSuccess90: var(--syn-chart-sequential-status-success-90) !default;
$SynChartSequentialStatusSuccess100: var(--syn-chart-sequential-status-success-100) !default;
$SynChartSequentialStatusWarning10: var(--syn-chart-sequential-status-warning-10) !default;
$SynChartSequentialStatusWarning20: var(--syn-chart-sequential-status-warning-20) !default;
$SynChartSequentialStatusWarning30: var(--syn-chart-sequential-status-warning-30) !default;
$SynChartSequentialStatusWarning40: var(--syn-chart-sequential-status-warning-40) !default;
$SynChartSequentialStatusWarning50: var(--syn-chart-sequential-status-warning-50) !default;
$SynChartSequentialStatusWarning60: var(--syn-chart-sequential-status-warning-60) !default;
$SynChartSequentialStatusWarning70: var(--syn-chart-sequential-status-warning-70) !default;
$SynChartSequentialStatusWarning80: var(--syn-chart-sequential-status-warning-80) !default;
$SynChartSequentialStatusWarning90: var(--syn-chart-sequential-status-warning-90) !default;
$SynChartSequentialStatusWarning100: var(--syn-chart-sequential-status-warning-100) !default;
