/**
 * Default Baseline css for usage in applications.
 * This file provides defaults for new applications.
 */
 body {
  background: var(--syn-color-neutral-0);
  color: var(--syn-typography-color-text);
  font: var(--syn-body-medium-regular);
}
