/**
 * Basic form styling
 */

/**
 * The following styles can be used to create the form styling
 * that is used in the synergy contact form template.
 * @example
 * html```
 * <form>
 *  <fieldset class="syn-fieldset">
 *    <legend class="syn-legend">My Legend</legend>
 *    <syn-input></syn-input>
 *  </fieldset>
 *  <syn-divider></syn-divider>
 * </form>
 * ```
 */
.syn-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--syn-spacing-2x-large);
  padding: 0;
}

.syn-fieldset + syn-divider {
  --spacing: var(--syn-spacing-2x-large);
}

/**
 * Default fieldset legend for synergy form fields.
 * @example
 * ```html
 * <!-- Using the syn-legend class directly -->
 * <legend class="syn-legend">Legend</legend>
 *
 * <!-- Apply the styling via .syn-fieldset -->
 * <form>
 *   <fieldset class="syn-fieldset">
 *     <legend>Legend</legend>
 *   </fieldset>
 * </form>
 * ```
 */
.syn-legend,
.syn-fieldset > legend {
  font-size: var(--syn-font-size-large);
  font-weight: var(--syn-font-weight-bold);
  line-height: var(--syn-line-height-normal);
  margin-bottom: var(--syn-spacing-medium);
}
