syn-header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.custom-logo syn-icon {
  display: block;
  height: 32px;
  width: auto;
}

.meta-navigation {
  align-items: center;
  display: flex;
}

/* Safari fix for ##623 */
.custom-logo syn-icon::part(svg) {
  width: auto;
}

.main {
  flex-grow: 1;
  display: flex;
  background: var(--syn-color-neutral-0);
  position: relative;
  overflow: hidden;
}

.content {
  box-sizing: border-box;
  flex-grow: 1;
  padding: var(--syn-spacing-medium) var(--syn-spacing-large);
  height: 100%;
  overflow-y: auto;
}
