syn-header {
  position: sticky;
  top: 0;
  z-index: 50;
}

.main {
  background: var(--syn-color-neutral-0);
  position: relative;
  height: 100%;
}

.content {
  padding: var(--syn-spacing-medium) var(--syn-spacing-large) var(--syn-spacing-medium) calc(4.5rem + var(--syn-spacing-large));
}
