html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  background: var(--syn-color-neutral-100);
  color: var(--syn-color-neutral-900);
}
