/*
 * This file contains utility classes that can't be contained in a component and must be applied to the light DOM. None
 * of the rules in this stylesheet should target component tags or HTML tags, and all classes *must* start with ".sds-"
 * to reduce the possibility of collisions.
 */

.sds-scroll-lock {
  padding-right: var(--syn-scroll-lock-size) !important;
  overflow: hidden !important;
}

.sds-toast-stack {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  z-index: var(--syn-z-index-toast);
  width: 28rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.sds-toast-stack sds-alert {
  margin: var(--syn-spacing-medium);
}

.sds-toast-stack sds-alert::part(base) {
  box-shadow: var(--syn-shadow-large);
}
