# Simple workflow for deploying static content to GitHub Pages
name: Initiate Docs Deployment

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      # This waits until releases in `release.yml` are done to get the latest version
      - name: Wait for releases to be done
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.ref }}
          check-name: "release"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: "main"
          path: "synergy-design-system"

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install dependencies
        working-directory: ./synergy-design-system
        run: pnpm install && pnpm build

      # Clone the other repository
      - name: Checkout Other Repository
        uses: actions/checkout@v4
        with:
          repository: "synergy-design-system/synergy-design-system.github.io"
          token: ${{ secrets.GH_RELEASE_BUILDUSERSICKAG }}
          path: "synergy-design-system.github.io"

      # Copy built docs to the other repo
      - name: Copy Built Docs to Other Repo
        run: mkdir -p ./synergy-design-system.github.io/www && cp -r ./synergy-design-system/packages/docs/dist/* ./synergy-design-system.github.io/www

      # Commit and Push Changes
      - name: Commit and Push to Other Repo
        working-directory: ./synergy-design-system.github.io
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Update docs"
          git push
