# Simple workflow for deploying static content to GitHub Pages
name: Test Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: "main"
          path: "synergy-design-system"

      - name: Setup Node.js and pnpm
        uses: ./synergy-design-system/.github/actions/setup-node-pnpm
        with:
          skip-install: 'true'
          with-build: 'false'

      - name: Install dependencies
        working-directory: ./synergy-design-system
        run: pnpm install && pnpm build

      # Clone the other repository
      - name: Checkout documentation Repository
        uses: actions/checkout@v4
        with:
          repository: "synergy-design-system/synergy-design-system.github.io"
          token: ${{ secrets.GH_RELEASE_BUILDUSERSICKAG }}
          path: "synergy-design-system.github.io"

      # Clean up the other repo
      - name: Cleanup documentation repository
        run: rm -rf ./synergy-design-system.github.io/www/*

      # Copy built docs to the other repo
      - name: Copy Built Docs to documentation Repo
        run: mkdir -p ./synergy-design-system.github.io/www && cp -r ./synergy-design-system/packages/docs/dist/* ./synergy-design-system.github.io/www

      # # Commit and Push Changes
      # - name: Commit and Push to documentation Repo
      #   working-directory: ./synergy-design-system.github.io
      #   run: |
      #     git config user.name github-actions
      #     git config user.email github-actions@github.com
      #     git add .
      #     git commit -m "Update docs"
      #     git push
