/**
 * Core typographic styles
 */

/**
 * Defines a font weight of normal (e.g. default font-weight for body copy), according to synergy specs
 */
.syn-weight-normal {
  font-weight: var(--syn-font-weight-normal);
}

/**
 * Defines a font weight of semi-bold, according to synergy specs
 */
.syn-weight-semibold {
  font-weight: var(--syn-font-weight-semibold);
}

/**
 * Defines a font weight of bold, according to synergy specs
 */
.syn-weight-bold {
  font-weight: var(--syn-font-weight-bold);
}

/**
 * Utility class for setting a very small body copy font style
 * May be combined with weight classes defined above
 */
.syn-body-x-small {
  font: var(--syn-body-x-small-regular);
}

/**
 * Utility class for setting a small body copy font style
 * May be combined with weight classes defined above
 */
.syn-body-small {
  font: var(--syn-body-small-regular);
}

/**
 * Utility class for setting a medium body copy font style
 * This is the default style for elements for synergy applications
 * May be combined with weight classes defined above
 */
.syn-body-medium {
  font: var(--syn-body-medium-regular);
}

/**
 * Utility class for setting a large body copy font style
 * May be combined with weight classes defined above
 */
.syn-body-large {
  font: var(--syn-body-large-regular);
}

/**
 * Utility class for setting a large headline
 * This is usually seen on smaller weight headline elements as <h5> or <h6>
 */
.syn-heading-large {
  font: var(--syn-heading-large);
}

/**
 * Utility class for setting a extra large headline
 * This is usually seen on medium weight headline elements as <h4> or <h3>
 */
.syn-heading-x-large {
  font: var(--syn-heading-x-large);
}

/**
 * Utility class for setting a even larger headline
 * This is usually seen on larger weight headline elements as <h2> or <h3>
 */
.syn-heading-2x-large {
  font: var(--syn-heading-2x-large);
}

/**
 * Utility class for setting the largest headline
 * This is usually seen on primary headline elements, usually <h1>
 */
.syn-heading-3x-large {
  font: var(--syn-heading-3x-large);
}
